.container-full-footer{
  width: 100%;
  display:flex;
  color:white;
  background-color:#999999;
}
.container-full-bottom{
  display:flex;
  width: 100%;
  color:white;
  background-color: black;
}
.container-full-carousel-bottom{
  display:flex;
  width: 100%;
  color:white;
  background-color: coral;
}